.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	color: #5fcbcf !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
	border: 1px solid #5fcbcf !important;
	border-radius: '5px 5px 0 0' !important;
}
.categoryText {
	width: 100%;
	height: 100%;
	top: 0;
}

.headerText {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
}
